# Files to exclude when creating archive.

.*                export-ignore
.*/               export-ignore
src/              export-ignore
tests/            export-ignore
bin/              export-ignore
composer*         export-ignore
package*.json     export-ignore
*.xml             export-ignore
*.config.js       export-ignore

# Files to hide by default for GitHub pull request diffs.

languages/        linguist-generated
*.min.js          linguist-generated
*.min.css         linguist-generated
*.snap            linguist-generated
