$gutter: 18px;

#widen-search-input {
  width: 330px;
  height: 28px;
  vertical-align: middle;
}

#widen-search-spinner {
  height: 28px;
  margin: 0 5px;
  background-position: center;
  float: none;
}

.toolbar {
  padding: $gutter 0;
  display: flex;
  justify-content: flex-end;

  .tablenav-pages {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .displaying-num {
    margin-right: auto;
  }
}

.button.add-to-library {
  margin: $gutter auto ($gutter / 2);
  display: block;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  margin-left: ($gutter * -1);
}

.tile {
  width: percentage(1 / 5);
  padding-left: $gutter;
  margin-bottom: $gutter;
  box-sizing: border-box;
  justify-content: space-between;

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  &__wrapper {
    text-decoration: none;
    backface-visibility: hidden;
    padding-top: $gutter;
    padding-bottom: $gutter;
    display: block;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #e5e5e5;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__header {
    max-width: 100%;
    padding: 0 $gutter;
    margin: 0 auto $gutter;
  }

  &__content {
    padding: 0 $gutter;
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "HelveticaNeueLTStd-Bd", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #344053;
    font-size: 12px;
    margin: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
}

.blur-up:not(.lazyloaded) {
  opacity: 0.2;
  transition: opacity 0.5s;
  width: 100%;
}

.blur-up.lazyloaded {
  opacity: 1;
}
