$gutter: 18px;
$color-added: #99c220;
$color-text: #344053;

$breakpoint-lg: 1500px;
$breakpoint-md: 1300px;
$breakpoint-sm: 1000px;
$breakpoint-xs: 500px;

#widen-search-input {
  width: 330px;
  height: 28px;
  vertical-align: middle;
}

#widen-search-spinner {
  height: 28px;
  margin: 0 5px;
  background-position: center;
  float: none;
}

.toolbar {
  min-height: 28px;
  padding: 1em 0;
  display: flex;
  justify-content: flex-end;

  .tablenav-pages {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .displaying-num {
    margin-right: auto;
  }
}

#search-results {
  margin-top: $gutter;
  border-top: 1px solid #e5e5e5;
}

#widen-save-collection {
  margin: 0 $gutter;
}

.collection-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}

.search-box {
  display: flex;
}

.search-option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  padding: 0 6px;
  border-radius: 2px;
  border: 1px solid #ddd;

  input[type="checkbox"] {
    margin: 0 6px 0 0;
  }

  label {
    user-select: none;
  }
}

.button.add-to-library {
  margin: 0;
  display: block;
}

.tiles {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  margin-left: ($gutter * -1);
}

.tile {
  padding-left: $gutter;
  margin: 0 0 $gutter;
  box-sizing: border-box;
  justify-content: space-between;
  width: percentage(1 / 5);

  @media (max-width: $breakpoint-lg) {
    width: percentage(1 / 4);
  }

  @media (max-width: $breakpoint-md) {
    width: percentage(1 / 3);
  }

  @media (max-width: $breakpoint-sm) {
    width: percentage(1 / 2);
  }

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  &__wrapper {
    text-decoration: none;
    backface-visibility: hidden;
    padding-top: $gutter;
    padding-bottom: $gutter;
    display: block;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #e5e5e5;
    position: relative;
    overflow: hidden;

    .added &::before {
      position: absolute;
      top: 25px;
      left: -35px;
      content: "Added";
      background-color: $color-added;
      color: #fff;
      width: 150px;
      transform: rotate(-45deg);
      text-align: center;
      z-index: 1;
      padding: 0.5em 0;
      letter-spacing: 0.02em;
      backface-visibility: hidden;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__header {
    max-width: 100%;
    padding: 0 $gutter;
    margin: 0 auto $gutter;
  }

  &__content {
    padding: 0 $gutter;
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "HelveticaNeueLTStd-Bd", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: $color-text;
    font-size: 12px;
    margin: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: $gutter auto ($gutter / 2);
  }

  .spinner:not(.is-active) {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .spinner.is-active {
    position: relative;
    clip: auto;
    clip-path: auto;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.7;
    width: 20px;
    height: 20px;
    margin: 0 8px;
  }

  .button-link {
    line-height: 28px;
    color: $color-text;

    &:focus,
    &:hover {
      color: $color-text;
    }
  }

  &.added {
    .tile__wrapper {
      border-color: $color-added;
    }

    .tile__image,
    .tile__title,
    .button-link {
      opacity: 0.4;
    }
  }
}

.blur-up:not(.lazyloaded) {
  opacity: 0.2;
  transition: opacity 0.5s;
  width: 100%;
}

.blur-up.lazyloaded {
  opacity: 1;
}
